<input type="checkbox" id="nav-toggle" />
<div class="sidebar">
  <div class="sidebar-brand">
    <h2>
      <span class="lab la-accusoft"></span>
      <span>Aphrinix</span>
    </h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a routerLink="/"  class="active">
          <span class="las la-igloo"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a >
          <span class="las la-users"></span>
          <span>Customers</span>
        </a>
      </li>
      <li>
        <a >
          <span class="las la-shopping-bag"></span>
          <span>Orders</span>
        </a>
      </li>
      <li>
        <a routerLink="products"  >
          <span class="las la-igloo"></span>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a >
          <span class="las la-igloo"></span>
          <span>Sales</span>
        </a>
      </li>
      <li>
        <a >
          <span class="las la-igloo"></span>
          <span>Notifications</span>
        </a>
      </li>
      <li>
        <a >
          <span class="las la-igloo"></span>
          <span>Analytics</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-content">
  <header class="header">
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
        Dashboard
      </label>
    </h2>
    <div class="search-wrapper">
      <span class="lab la-search"></span>
      <input type="search" name="" id="" placeholder="Search..." />
    </div>
    <div class="user-wrapper">
      <img
        src="https://images.pexels.com/photos/6571491/pexels-photo-6571491.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        width="40px"
        height="40px"
        alt=""
      />
      <div>
        <h4>Edford Jongwe</h4>
        <small>System admin</small>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
